body, html{
  height:100%;
}

body{
  margin: 0px;
  background-color:#444;
  background-image: url("lib/backgroundone.png");
  background-size: 1800px 900px;
  font-size: 18px;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.title, .addLegionDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.title{
  background-color: #777;
}

.dancer{
  color: red;
  border:10px solid green;
  position:absolute;
  
}


@keyframes rainbow {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

@keyframes rotate {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.legion-dancer{
  position:absolute;
  background-size: 100px 200px;
  opacity: 0.45; 
  animation-name: rainbow;
  animation-duration: 2s;
}


.compas-dancer{
  position:absolute;
  background-image: url("lib/michael.gif");
  background-size: 100px 200px; 
  animation-duration: 2s;
  animation-name: rotate;  
}


.rotate {
  position:absolute;
  background-size: 100px 200px; 
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}